@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

#container{
    display: flex;
    flex-direction: column;
    font-family: "Source Sans 3", serif;
    font-size: 30px;
    font-weight: 600;
    gap: 10px;
}

.input-select{
    padding: 30px;
    padding-right: 20px;
    width: 100%;
    border-radius: 13px;
    border: none;
    color: #7a7a7a;
}

