@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

.title{
    color: #F1AF06;
    font-family: "Source Sans 3", serif;
    text-shadow: 3px 2px black;
}