.title-text {
  font-size: 50 px; /* Aumenta ainda mais o tamanho do texto */
  color: #e4ce23;
 
  font-family: 'Arial', sans-serif;
  margin-top: 60px; /* Aumenta o espaçamento superior */
  margin-bottom: 60px; /* Adiciona mais espaçamento inferior */
  
  letter-spacing: 4px; /* Aumenta o espaçamento entre letras */
  border-bottom: 5px solid #e2da4a; /* Torna a linha mais grossa */
  padding-bottom: 20px; /* Adiciona mais espaçamento entre o texto e a borda */
  line-height: 1.2; /* Ajusta o espaçamento entre as linhas */
 
  
}

